
<h1 style="color:white"> Best soccer teams</h1>
<div class="container">
	<div class="row margin-top-20" style="color: white" >
		<% @teams.each do |t|%>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 formation" style="position: relative" >
			<h4 style="text-align: center"><a  href="/teams/<%= t.id%>"style="color:inherit; text-decoration-none"><%= t.name%></a> (<%=t.country%>)</h4>
			<p style="text-align:center"><a href="/teams/<%=t.id%>/edit" style="padding:5px" class="btn btn-warning" role="button">Edit team</a>   <a href="/teams/<%=t.id%>/players/new" style="padding:5px"  class="btn btn-primary" role="button">Add Player</a></p>

			
			<div class="thumbnail soccer" style="height:600px">



				<% t.players.order(jersey: :asc).each do |player|%> 




				<% if player.jersey == 1%>
				<p class="keeper">
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit" ><%=player.name%><br><%= player.jersey %></a>
				</p> 
				<% end %>


				<!-- defense -->
				<% if player.jersey == 7%>
				<p class="leftfullback"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%> 

				<% if player.jersey == 2%>
				<p class="centerback1"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%> <br> <%= player.jersey %></a>
				</p>
				<%end%>

				<% if player.jersey == 3%>
				<p class="centerback2"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>


				<% if player.jersey == 4%>
				<p class="rightfullback"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>

				<!-- mid-field -->
				<% if player.jersey == 8%>
				<p class="leftmid"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>

				<% if player.jersey == 5%>
				<p class="defensivemid1"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>

				<% if player.jersey == 6%>
				<p class="defensivemid2"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>

				<% if player.jersey == 10%>
				<p class="centermid"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>


				<!-- fowards -->
				<% if player.jersey == 9%>
				<p class="striker"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>
				<% if player.jersey == 11%>
				<p class="secondstriker"> 
					<a href="/teams/<%=player.team_id%>/players/<%=player.id%>/edit"><%= player.name%><br><%= player.jersey %></a>
				</p>
				<%end%>
				<%end%>
			</div>
		</div>

		<%end%>
	</div>
</div>